
*.class
*.class
*.jar
target/classes/hazelcast.old
src/main/resources/hazelcast.old
*.class
*.jar
*.jar
*.jar
*.log
target/classes/imdg/GettingStarted.class
*.class
*.jar
target/classes/rest/resttest.sh
target/maven-archiver/pom.properties
target/classes/META-INF/maven/com.ss/imdg/pom.properties
